/* CSS Custom Properties */
:root {
  --white: #FFFFFF;
  --green-1: #FBF9F6;
  --green-2: #ACB886;
  --green-3: #316942;
  --green-4: #163823;
  --gold: #eecb2e;
  --text-light: #968c84;
  --text-dark: #615954;
}

*, *:before, *:after {
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--green-3);
  height: 70px;
  padding: 0 20px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: var(--white);
}

nav a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 15px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: var(--gold);
  color: var(--green-4);
}

h1 {
  font-family: "Fraunces", serif;
  color: var(--white);
  font-weight: bold;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--green-4);
  padding: 2vmin;
  height: 100vh;
}

h3, p {
  color: var(--white);
}

ul {
  list-style-type: none;
  padding-left: 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
Fraunces: CSS class for a variable style

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.fraunces-<uniquifier> {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;





Special Elite: CSS class

.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}
}


*/

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--green-1);
  color: var(--text-dark);
  border: .1vmin solid var(--green-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: var(--green-1);
  border: .1vmin solid var(--green-3);
  border-radius: 1vmin;
}

p.error-message {
  color: var(--gold);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--green-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--gold);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--green-4);
  background-color: var(--gold);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--green-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: lightgray;
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}