/* CSS Custom Properties (Variables) */
:root {
  --white: #FFFFFF;
  --green-1: #FBF9F6;
  --green-2: #ACB886;
  --green-3: #316942;
  --green-4: #163823;
  --gold: #eecb2e;
  --text-light: #968c84;
  --text-dark: #615954;
}

/* Global Reset and Box Sizing */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Base Body Styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
               'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
               sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--green-4);
  padding: 2vmin;
  height: 100vh;
}

/* Navigation Styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--green-3);
  height: 70px;
  padding: 0 20px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: var(--white);
}

nav a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 15px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: var(--gold);
  color: var(--green-4);
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.5em;
}


.user-info a {
  margin-left: 10px;  
  background-color: var(--gold);
  color: var(--green-4); 
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.user-info a:hover {
  background-color: var(--green-4);
  color: var(--gold);
}

.user-info span { 
  margin-bottom: 5px;
}

/* Typography Styles */
h1, h2, h3, p {
  color: var(--white);
}

h1, h2 {
  font-family: "Fraunces", serif;
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* List Styles */
ul {
  list-style-type: none;
  padding-left: 0;
}

/* Flexbox Utility Classes */
.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.scroll-y {
  overflow-y: scroll;
}

/* Form and Button Styles */
.form-container {
  padding: 3vmin;
  background-color: var(--green-1);
  border: .1vmin solid var(--green-3);
  border-radius: 1vmin;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--green-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none; 
  outline: none;
}

input:focus {
  border-color: var(--gold);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--green-4);
  background-color: var(--gold);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--green-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}


button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: lightgray;
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  z-index: 1051;
  position: relative;
}

/* Card Styling */
.routines-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.routine-card {
  background-color: var(--green-3);
  border: 1px solid var(--green-2);
  border-radius: 10px;
  padding: 20px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button-group button {
  padding: 10px 20px;
  background-color: var(--gold);
  color: var(--green-4);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button-group button:hover {
  background-color: var(--green-4);
  color: var(--gold);
}

.add-button-container {
  margin-bottom: 20px;
}

.add-button-label {
  margin-top: 10px;
}

/* Error Message Styling */
p.error-message {
  color: var(--gold);
  text-align: center;
}


